<div class="form-group">
  <label class="custom-control custom-checkbox">
    <input type="checkbox"
           class="custom-control-input"
           [id]="id"
           [formControl]="control" />
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{ label }}</span>
  </label>

  <buy-error [control]="control"></buy-error>
</div>

