<div class="form-group">
  <label *ngIf="label">{{ label }}</label>
  <my-date-picker [placeholder]="placeholder"
                  (dateChanged)="onDateChanged($event)"
                  [options]="myDatePickerOptions"></my-date-picker>
  <buy-error [control]="control"></buy-error>
</div>
