@import "../../styles/variables";
@import "../../styles/mixins";

.error {
  font-size: 70px;
  color: coral;
  letter-spacing: 9px;
  position: relative;
  top: -100px;
}

.error-container {
  min-height: 100vh;
}
