<div class="form-group">
  <label *ngIf="label">{{ label }}</label>
  <div>
    <ng-select [options]="dataSelect"
               [placeholder]="placeholder"
               [noFilter]="10"
               [formControl]="control">
    </ng-select>
  </div>
  <buy-error [control]="control"></buy-error>
</div>
