li {
  list-style: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

a, button {
  cursor: pointer;
}

ul, p {
  margin: 0;
}

label {
  margin-bottom: 2px;
}

input::-webkit-input-placeholder, ng-select > div > div.single > div.placeholder {
  color: #ccc!important;
}

input:focus::-webkit-input-placeholder {
  color: transparent!important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #D9D9D9!important;
}

.form-group {
  position: relative;
  margin-bottom: 5px;
  padding-bottom: 21px;
}

.input-wrapper {
  .form-control {
    border: none;
    margin-bottom: 0;
    padding: 0.4rem 0;
    border-bottom: 1px solid grey;
    border-radius: 0;
  }
  .form-group {
    padding-bottom: 0;
  }
  .form__errors {
    bottom: -20px!important;
  }
  ng-select > div {
    border: none;
    border-bottom: 1px solid grey;

    .value {
      padding-left: 0!important;
    }
  }
}
