.sign {
  padding: 20px 0;
  min-height: calc(100vh - 280px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
   position: relative;
   margin-bottom: 5px;
   padding-bottom: 21px;
}

