<z-header></z-header>

<section class="sign section">
  <div class="container sign__form">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-md-6">
        <z-step1 *ngIf="isVisibleFirstStep" (step1FormDataEmit)="getFirstStepData($event)"></z-step1>
        <z-step2 *ngIf="!isVisibleFirstStep" (step2FormDataEmit)="getSecondStepData($event)"></z-step2>
        <div class="alert alert-danger mt-2 mb-2" *ngIf="errorsLS" role="alert">
          {{ errorsLS }}
        </div>
      </div>
    </div>
  </div>
</section>

<z-footer></z-footer>
