<div class="tabs d-flex mb-4">
  <div class="tab">Step1</div>
  <div class="tab active">Step2</div>
</div>

<form [formGroup]="step2AuthForm" (submit)="submit($event, step2AuthForm)">
  <z-input label='Username'
           placeholder="Username"
           [control]="step2AuthForm.get('username')"
           id="username">
  </z-input>
  <z-input type='password'
           id="password"
           placeholder="password"
           [control]="step2AuthForm.get('password')"
           label='Enter your password'>
  </z-input>
  <z-input type='password'
           id="confirmPassword"
           placeholder="Confirm password"
           [control]="step2AuthForm.get('confirmPassword')"
           label='Confirm password'>
  </z-input>
  <z-select label="Employment status"
            placeholder="Employment status"
            [control]="step2AuthForm.get('emplStatus')"
            [dataSelect]="statusData">
  </z-select>
  <z-input *ngIf="isEmployed"
           id="placeOfEmployment"
           placeholder="Place of employment"
           [control]="step2AuthForm.get('placeOfEmployment')"
           label='Place of employment'>
  </z-input>
  <z-select label="Annual Income"
            placeholder="Annual Income"
            [control]="step2AuthForm.get('annualIncome')"
            [dataSelect]="incomeData"></z-select>
  <z-input id="sport"
           placeholder="Favourite sport"
           [control]="step2AuthForm.get('sport')"
           label='Favourite sport'>
  </z-input>
  <z-checkbox [control]="step2AuthForm.get('permission')"
              label='I accept terms and conditions'>
  </z-checkbox>
  <div class="d-flex justify-content-end">
    <button class="mt-3 btn btn-primary" type="submit">Finish</button>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="serverErrors">
    {{ serverErrors }}
  </div>
</form>


