<div class="input-wrapper">
  <z-select [label]="label"
            *ngIf="isEdit"
            [placeholder]="placeholder"
            [control]="control"
            [dataSelect]="dataSelect"></z-select>
  <ng-container *ngIf="!isEdit">
    <p class="label">{{ label }}</p>
    <p class="value">{{ control.value }}</p>
  </ng-container>
</div>
