
<div class="tabs d-flex mb-4">
  <div class="tab active">Step1</div>
  <div class="tab">Step2</div>
</div>

<form [formGroup]="step1AuthForm" (submit)="submit($event, step1AuthForm)">
  <z-input label='Name'
           placeholder="Name"
           [control]="step1AuthForm.get('name')"
           id="name">
  </z-input>
  <z-input id="surname"
           placeholder="Surname"
           [control]="step1AuthForm.get('surname')"
           label='Surname'>
  </z-input>
  <z-datepicker placeholder="mm.dd.yyyy"
                label="Date of birth *"
                [control]="step1AuthForm.get('dateOfBirth')"
                [myDatePickerOptions]="datepickerOptions" >
  </z-datepicker>
  <z-input id="phone"
           placeholder="+381 234 9871"
           [control]="step1AuthForm.get('phone')"
           label='Phone'>
  </z-input>
  <z-input id="address"
           placeholder="Address"
           [control]="step1AuthForm.get('address')"
           label='Adress'>
  </z-input>
  <z-input id="city"
           placeholder="City"
           [control]="step1AuthForm.get('city')"
           label='City'>
  </z-input>
  <z-input id="country"
           placeholder="Country"
           [control]="step1AuthForm.get('country')"
           label='Country'>
  </z-input>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" type="submit">Continue</button>
  </div>


  <div class="alert alert-danger" role="alert" *ngIf="serverErrors">
    {{ serverErrors }}
  </div>
</form>
