<z-header></z-header>

<section class="sign section">
  <div class="container sign__form">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-md-6 col-lg-5">
        <form [formGroup]="signInForm" (submit)="submit($event, signInForm)">
          <z-input   placeholder="Username"
                     id="username"
                     [control]="signInForm.get('username')">
          </z-input>
          <z-input type='password'
                     id="password"
                     [control]="signInForm.get('password')"
                     placeholder="Password">
          </z-input>

          <button class="btn btn-primary w-100" type="submit" >Login</button>

          <div class="alert alert-danger mt-2 mb-2" role="alert" *ngIf="serverErrors">
           {{ serverErrors }}
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<z-footer></z-footer>
