<z-header></z-header>

<div class="container detail-page">
  <div class="row">
    <h4 class="col-12 mb-5">Summary</h4>
  </div>
  <form class="row" [formGroup]="detailForm">
      <z-wrapper-edit-input class="col-4"
                            [isEdit]=isEdit
                            id="name"
                            [control]="detailForm.get('name')"
                            placeholder="Enter your name"
                            label="Name">
      </z-wrapper-edit-input>
      <z-wrapper-edit-input class="col-4"
                            id="surname"
                            [isEdit]=isEdit
                            [control]="detailForm.get('surname')"
                            placeholder="Enter your surname"
                            label="Surname">
      </z-wrapper-edit-input>
      <z-wrapper-edit-input class="col-4"
                            id="dateOfBirth"
                            [isEdit]=isEdit
                            [control]="detailForm.get('dateOfBirth')"
                            placeholder="Enter your date of birth"
                            label="Date of birth">
      </z-wrapper-edit-input>
      <z-wrapper-edit-input class="col-4"
                            id="phone"
                            [isEdit]=isEdit
                            [control]="detailForm.get('phone')"
                            placeholder="Enter your phone"
                            label="Phone">
      </z-wrapper-edit-input>
      <z-wrapper-edit-input class="col-4"
                            id="address"
                            [isEdit]=isEdit
                            [control]="detailForm.get('address')"
                            placeholder="Enter your address"
                            label="Address">
      </z-wrapper-edit-input>
      <z-wrapper-edit-input class="col-4"
                            id="city"
                            [isEdit]=isEdit
                            [control]="detailForm.get('city')"
                            placeholder="Enter your city"
                            label="City">
      </z-wrapper-edit-input>
      <z-wrapper-edit-input class="col-4"
                            id="country"
                            [isEdit]=isEdit
                            [control]="detailForm.get('country')"
                            placeholder="Enter your country"
                            label="Country">
      </z-wrapper-edit-input>
      <z-wrapper-edit-input class="col-4"
                            id="username"
                            [isEdit]=isEdit
                            [control]="detailForm.get('username')"
                            placeholder="Enter your username"
                            label="Username">
      </z-wrapper-edit-input>
      <z-wrapper-edit-input class="col-4"
                            id="password"
                            type="password"
                            [isEdit]=isEdit
                            [control]="detailForm.get('password')"
                            placeholder="Enter your password"
                            label="Password">
      </z-wrapper-edit-input>
      <z-wrapper-edit-input *ngIf="userData.placeOfEmployment !== null"
                             class="col-4"
                             id="placeOfEmployment"
                             [isEdit]=isEdit
                             placeholder="Place of employment"
                             [control]="detailForm.get('placeOfEmployment')"
                             label='Place of employment'>
      </z-wrapper-edit-input>
      <z-wrapper-edit-select class="col-4"
                             [isEdit]=isEdit
                             label="Annual Income"
                             placeholder="Annual Income"
                             [control]="detailForm.get('annualIncome')"
                             [dataSelect]="incomeData">
      </z-wrapper-edit-select>
      <z-wrapper-edit-input id="sport"
                            class="col-4"
                            [isEdit]=isEdit
                            placeholder="Favourite sport"
                            [control]="detailForm.get('sport')"
                            label='Favourite sport'>
      </z-wrapper-edit-input>
    <div class="col-12 d-flex justify-content-end">
      <button class="col-1 btn btn-primary" *ngIf="isEdit" type="submit" (click)="save(detailForm)">Save</button>
      <div class="col-1 btn btn-primary" *ngIf="!isEdit" (click)="edit(detailForm)">Edit</div>
    </div>
  </form>

</div>

<z-footer></z-footer>
